@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Roboto", serif;
    background-color: #fff; 
    margin: 0; 
    padding: 0; 
}

.contenedor-principal {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
    
}


@media (max-width: 768px) {
    .contenedor-principal {
        padding: 10px; 
        border-radius: 5px;
    }
}


.contenedor-principal h1 {
    font-size: 2rem; 
    color: #0400ff; 
    text-align: center; 
}

.contenedor-principal p {
    font-size: 1.2rem; 
    color: #666; 
    line-height: 1.6; 
    text-align: center; 
}

 

  fieldset {
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
  }
  
  legend {
    font-weight: bold;
    padding: 0 10px;
    color: #0400ff;
  }
  
 
  label {
    display: block;
    margin-bottom: 5px;
    color: #1e1e1e;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="datetime-local"],
  select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0400ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #030099;
  }

